Repository harupy/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, rstcheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        files: '^(?!docs/|mlflow/server/js/|pypi_package_index.json).+\.(md|json|ya?ml|js)$'
        args: [--no-config, --print-width, "100"]

  - repo: local
    hooks:
      - id: black
        name: black
        entry: "dev/black.sh"
        language: system
        types: [python]
        stages: [commit]

      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["--rcfile=pylintrc"]
        stages: [commit]

      - id: rstcheck
        name: rstcheck
        entry: rstcheck
        language: system
        files: README.rst
        stages: [commit]

      - id: must-have-signoff
        name: must-have-signoff
        entry: 'grep "Signed-off-by:"'
        language: system
        stages: [prepare-commit-msg]

Use delta_core 2.0.2 on windows
  mlflow/utils/_spark_utils.py
  tests/recipes/test_ingest_step.py
  tests/recipes/test_predict_step.py
Due: black, pylint

Increase chunk size
  mlflow/store/artifact/databricks_artifact_repo.py
Due: black, pylint

Use 1.2.1
  mlflow/utils/_spark_utils.py
  tests/recipes/test_ingest_step.py
  tests/recipes/test_predict_step.py
Due: black, pylint

debug
  .github/workflows/recipe.yml
  mlflow/utils/_spark_utils.py
  tests/recipes/test_predict_step.py
Due: black, pylint

add experimental
  tests/johnsnowlabs/test_jsl_api.py
Due: black, pylint

extras
  .github/workflows/recipe.yml
Due: none

a
  .github/workflows/recipe.yml
Due: none

a
  tests/recipes/test_predict_step.py
Due: black, pylint

overwrite
  tests/recipes/test_predict_step.py
Due: black, pylint

f
  .github/workflows/recipe.yml
  tests/recipes/test_predict_step.py
Due: black, pylint

Use NullPool
  .github/workflows/recipe.yml
Due: none

a
  .github/workflows/gateway.yml
Due: none

Cancel workflows
  .github/workflows/cancel.js
  .github/workflows/cancel.yml
  mlflow/gateway/providers/openai.py
Due: black, pylint

a
  README.rst
Due: rstcheck

a
  .github/workflows/cancel.js
Due: none

a
  .github/workflows/cancel.yml
Due: none

cancel
  .github/workflows/cancel.js
Due: none

min
  mlflow/utils/file_utils.py
Due: black, pylint

a
  mlflow/store/artifact/databricks_artifact_repo.py
  mlflow/store/artifact/databricks_models_artifact_repo.py
Due: black, pylint

a
  mlflow/utils/file_utils.py
Due: black, pylint

Fix assignment to os.environ
  fix_os_environ.py
  tests/autologging/fixtures.py
  tests/autologging/test_autologging_safety_unit.py
  tests/deployments/test_deployments.py
  tests/models/test_wheeled_model.py
  tests/pyfunc/test_spark.py
  tests/recipes/test_pipeline.py
  tests/store/artifact/test_azure_blob_artifact_repo.py
  tests/store/artifact/test_hdfs_artifact_repo.py
  tests/tracking/test_tracking.py
Due: black, pylint

Remove unused _parse_url_path_for_base_url (#8663)
  mlflow/gateway/utils.py
Due: black, pylint

Use `monkeypatch.setenv` when setting env vars (#8665)
  tests/gateway/test_gateway_config_parsing.py
Due: black, pylint

Add routes (#8684)
  examples/gateway/config.yaml
  mlflow/gateway/app.py
  mlflow/gateway/config.py
  mlflow/gateway/utils.py
  tests/gateway/test_cli.py
  tests/gateway/test_gateway_app.py
  tests/gateway/test_gateway_config_parsing.py
  tests/gateway/test_runner.py
Due: black, pylint

Use `tmp_path` fixture when creating local files in tests (#8668)
  tests/gateway/test_gateway_config_parsing.py
Due: black, pylint
