Repository harupy/mlflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pylint, rstcheck

black:
  name: black
  entry: dev/black.sh
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=pylintrc
  stages:
  - commit

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system
  stages:
  - commit

wip
  .github/workflows/audit.yml
Due: none

test
  .github/workflows/audit.yml
Due: none

rename
  .github/workflows/require-core-maintainer-approval.js
Due: none

wip
  .github/workflows/re-run.js
  .github/workflows/re-run.yml
Due: none

test
  README.rst
Due: rstcheck

test
  .github/workflows/re-run.js
Due: none

a
  .github/workflows/re-run.js
Due: none

fix permissions
  .github/workflows/re-run.yml
Due: none

wip
  .github/workflows/re-run.yml
Due: none

promise
  .github/workflows/re-run.js
Due: none

Do not allow external contributors to use rerun command
  .github/workflows/rerun.js
Due: none

wip
  dev/clint/src/clint/linter.py
Due: black, pylint

Remove unnecessary proto conversion
  mlflow/store/tracking/rest_store.py
Due: black, pylint

Use python 3.9 in gateway
  .github/workflows/gateway.yml
Due: none

Run failed github action workflow on PR approval
  .github/workflows/rerun.js
  .github/workflows/rerun.yml
  .github/workflows/rerun_workflow.yml
Due: none

Fix comment
  .github/workflows/rerun.yml
Due: none

rename
  .github/workflows/rerun.yml
  .github/workflows/rerun_workflow_run.yml
Due: none

comment
  .github/workflows/rerun_workflow_run.yml
Due: none

Fix
  .github/workflows/rerun.yml
Due: none

Fix
  .github/workflows/rerun.yml
  .github/workflows/rerun_workflow_run.yml
Due: none

uppercase
  .github/workflows/rerun.yml
Due: none

rename
  .github/workflows/rerun-workflow-run.yml
  .github/workflows/rerun.yml
Due: none

change
  .github/workflows/rerun.yml
Due: none

test
  mlflow/h2o/__init__.py
Due: black, pylint

test
  mlflow/h2o.py
Due: black, pylint

Revert "Add databricks extra to build job (#13982)"
  .github/workflows/build-wheel.yml
Due: none

Unpin
  requirements/test-requirements.txt
Due: none

Add a job for auto-sync
  .github/workflows/sync.py
  .github/workflows/sync.yml
Due: black, pylint

Run on pull_request
  .github/workflows/sync.yml
Due: none

Path conditions:
  black: any of: \.py$
  pylint: any of: \.py$
  rstcheck: any of: README.rst
